<div id="<%= dom_id autor %>" class="usuario-info-container">
  <table class="usuario-info-table">
    <tr>
      <th>Nombre</th>
      <td><%= autor.nombre %></td>
    </tr>
    <tr>
      <th>Pais</th>
      <td><%= autor.pais %></td>
    </tr>
    <tr>
      <th>Biografia</th>
      <td><%= autor.biografia %></td>
    </tr>
    <tr>
      <th>Fecha nacimiento</th>
      <td><%= autor.fecha_nacimiento %></td>
    </tr>
    <tr>
      <th>Fecha fallecimiento</th>
      <td><%= autor.fecha_fallecimiento %></td>
    </tr>
  </table>
</div>
