<p style="color: green"><%= notice %></p>

<%= render @autor %>

<div>
  <%= link_to "Editar autor", edit_autor_path(@autor), class: "btn" %> |
  <%= link_to "Ver lista", autors_path, class: "btn" %>
  </br></br>
  <%= button_to "Eliminar autor", @autor, method: :delete, class: "boton" %>
</div>
