<%= form_with(model: resena, html: { class: "form-container" }) do |form| %>
  <% if resena.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(resena.errors.count, "error") %> impidieron guardar esta reseña:</h2>
      <ul>
        <% resena.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :libro_id, "ID del Libro:", class: "form-label" %>
    <%= form.text_field :libro_id, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :usuario_id, "ID del Usuario:", class: "form-label" %>
    <%= form.text_field :usuario_id, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :calificacion, "Calificación:", class: "form-label" %>
    <%= form.number_field :calificacion, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :comentario, "Comentario:", class: "form-label" %>
    <%= form.text_area :comentario, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :fecha, "Fecha:", class: "form-label" %>
    <%= form.date_field :fecha, class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Guardar Reseña", class: "btn-primary" %>
  </div>
<% end %>
