<div id="<%= dom_id resena %>">
  <p>
    <strong>Libro:</strong>
    <%= resena.libro_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= resena.usuario_id %>
  </p>

  <p>
    <strong>Calificacion:</strong>
    <%= resena.calificacion %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= resena.comentario %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= resena.fecha %>
  </p>

</div>
