<div id="<%= dom_id resena %>" class="usuario-info-container">
  <table class="usuario-info-table">
    <tr>
      <th>Libro</th>
      <td><%= resena.libro.titulo %></td>
    </tr>
    <tr>
      <th>Usuario</th>
      <td><%= resena.usuario.nombre %></td>
    </tr>
    <tr>
      <th>Calificación</th>
      <td><%= resena.calificacion %></td>
    </tr>
    <tr>
      <th>Comentario</th>
      <td><%= resena.comentario %></td>
    </tr>
    <tr>
      <th>Fecha</th>
      <td><%= resena.fecha %></td>
    </tr>
  </table>
</div>
