<div id="<%= dom_id categorium %>" class="usuario-info-container">
  <table class="usuario-info-table">
    <tr>
      <th>Nombre</th>
      <td><%= categorium.nombre %></td>
    </tr>
    <tr>
      <th>Descripción</th>
      <td><%= categorium.descripcion %></td>
    </tr>
    <tr>
      <th>Fecha creación</th>
      <td><%= categorium.fecha_creacion %></td>
    </tr>
    <tr>
      <th>Nivel</th>
      <td><%= categorium.nivel %></td>
    </tr>
    <tr>
      <th>Estado</th>
      <td><%= categorium.estado %></td>
    </tr>
  </table>
</div>
