<div id="<%= dom_id categorium %>">
  <p>
    <strong>Nombre:</strong>
    <%= categorium.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= categorium.descripcion %>
  </p>

  <p>
    <strong>Fecha creacion:</strong>
    <%= categorium.fecha_creacion %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= categorium.nivel %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= categorium.estado %>
  </p>

</div>
