<div id="<%= dom_id prestamo %>">
  <p>
    <strong>Usuario:</strong>
    <%= prestamo.usuario_id %>
  </p>

  <p>
    <strong>Libro:</strong>
    <%= prestamo.libro_id %>
  </p>

  <p>
    <strong>Fecha prestamo:</strong>
    <%= prestamo.fecha_prestamo %>
  </p>

  <p>
    <strong>Fecha devolucion:</strong>
    <%= prestamo.fecha_devolucion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= prestamo.estado %>
  </p>

</div>
