<div id="<%= dom_id usuario %>" class="usuario-info-container">
  <table class="usuario-info-table">
    <tr>
      <td>Nombre:</td>
      <td><%= usuario.nombre %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= usuario.email %></td>
    </tr>
    <tr>
      <td>Teléfono:</td>
      <td><%= usuario.telefono %></td>
    </tr>
    <tr>
      <td>Dirección:</td>
      <td><%= usuario.direccion %></td>
    </tr>
    <tr>
      <td>Tipo Usuario:</td>
      <td><%= usuario.tipo_usuario %></td>
    </tr>
  </table>
</div>
