<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= usuario.direccion %>
  </p>

  <p>
    <strong>Tipo usuario:</strong>
    <%= usuario.tipo_usuario %>
  </p>

</div>
