<%= form_with(model: libro, html: { class: "form-container" }) do |form| %>
  <% if libro.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(libro.errors.count, "error") %> impidieron guardar este libro:</h2>
      <ul>
        <% libro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :titulo, "Título:", class: "form-label" %>
    <%= form.text_field :titulo, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :isbn, "ISBN:", class: "form-label" %>
    <%= form.text_field :isbn, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :anio_publicacion, "Año de Publicación:", class: "form-label" %>
    <%= form.number_field :anio_publicacion, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :autor_id, "ID del Autor:", class: "form-label" %>
    <%= form.text_field :autor_id, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :categoria_id, "ID de la Categoría:", class: "form-label" %>
    <%= form.text_field :categoria_id, class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= form.submit "Guardar Libro", class: "btn-primary" %>
  </div>
<% end %>
