<div id="<%= dom_id libro %>">
  <p>
    <strong>Titulo:</strong>
    <%= libro.titulo %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= libro.isbn %>
  </p>

  <p>
    <strong>Anio publicacion:</strong>
    <%= libro.anio_publicacion %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= libro.autor_id %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= libro.categoria_id %>
  </p>

</div>
